@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Source+Serif+Pro&display=swap');


.checkout {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100vh;
    margin: auto;
    background-color: white;
}

.header {
    background-color: black;
}

.header h1 {
    color: white;
    margin-top: 0px;
    padding-top: 10px;
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
}

.header hr {
    width: 100%;
}

.checkout hr {
    width: 100%;
}

.item h1 {
    color: red;
}

.emptyBasket {
    padding: 20px;
}

.emptyBasket h1 {
    margin: 0;
    background-color: white;
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    padding : 15px;
}

.customerDataHeader {
    background-color: black;
}

.customerDataHeader h1 {
    margin: 0;
    padding: 20px;
    font-family: 'Mochiy Pop One', sans-serif;
    text-align: center;
    color: white;
}

.customerDataInputs {
    background-color: white;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 100px;
}


.customerDataInputs input {
    padding: 10px;
    margin: 5px;
    width: 45%;
    font-size: 20px;
}

.submit h1 {
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    color: white;
    margin: 0;
}

.submit {
    position: fixed;
    bottom: 0;
    width: 45%;
    margin-top: 20px;
    padding: 20px;
    background-color: black;
    cursor: pointer;
}

.basketItemCard {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
}

.basketItemCardInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 40%;
    width: 40%;
}

.basketItemCardPhoto {
    width: 30%;
    min-width: 100px;
}

.basketItemCardInfo h1 {
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 25px;
    margin: 0;
    text-align: center;
}

.removeBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: black;
    width: 50px;
    margin: 0px 40px;
    height: 50px;
    border-radius: 100%;
}

.removeBtn h1 {
    color: white;
}

.removeBtnContainer {
    width: 30%;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.priceToPay {
    padding: 20px;
    font-size: 15px;
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    background-color: white;
}


@media only screen and (max-width: 1100px) {
    .checkout {
      width: 100%;
    }

    .customerDataInputs {
        padding-bottom: 50px;
    }

    .submit {
        margin-top: 0;
        position: relative;
        width: 100%;
    }

    .submit h1 {
        margin: 0;
    }

    .emptyBasket h1 {
        padding: 0;
    }

    .basketItemCard {
        justify-content: space-between;
    }

    .basketItemCardInfo h1 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 500px) {
    .basketItemCard {
        justify-content: space-between;
    }

    .basketItemCardInfo h1 {
        font-size: 16px;
    }

    .removeBtn {
        margin: 0;
    }
}